#divImages {
    padding: 0px;
}

    #divImages ul {
        list-style: none;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }

    #divImages li {
        position: relative;
        border: #000000 1px solid;
        display: inline-block;
    }

    /* GRID VIEW */
    #divImages .grid li {
        width: 260px;
        height: 260px;
        margin: 5px;
        background: #F7F7F7;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(219,208,219,0.2);
        -moz-box-shadow: 7px 7px 5px 0px rgba(219,208,219,0.2);
        box-shadow: 7px 7px 5px 0px rgba(219,208,219,0.2);
    }

        #divImages .grid li p {
            display: none;
        }

        #divImages .grid li .list-left {
            text-align: left;
            font-size: 16px;
            margin-left: 10px;
            margin-top: 5px;
        }

        #divImages .grid li .icon-group-btn {
            font-size: 14px;
        }

        #divImages .grid li .list-right {
            position: absolute;
            right: 10px;
            bottom: 0px;
        }

    #divImages .grid {
        width: 100%;
    }

        #divImages .grid li .list-left .title a {
            display: block;
            overflow: hidden;
            word-wrap: break-word;
            font-size: 12pt;
            max-height: 40px;
            padding: 0;
            margin: 0;
        }

            #divImages .grid li .list-left .title a:link,
            #divImages .grid li .list-left .title a:active,
            #divImages .grid li .list-left .title a:visited {
                color: #551510;
                font-weight: bold;
                text-decoration: none;
            }

            #divImages .grid li .list-left .title a:hover {
                color: #a5673f;
                text-decoration: none;
            }

        #divImages .grid li .list-left .imgDesc {
            font-size: 8pt;
            color: slategray;
        }

        #divImages .grid li .thumbHolder {
            text-align: center;
            width: 100%;
            height: 155px;
        }

.insideThumbHolder {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background-color: #e3e3e3;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.thumbHolder img {
    max-width: 258px;
    max-height: 155px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.dropzone .dz-message {
    text-align: center;
}

.dropzone {
    min-height: 50px !important;
    padding: 0px !important;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: #e7e8df !important;
    cursor: pointer;
}

.fancybox-bg {
    background: #FFFFFF !important;
    opacity: 1;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
